<div class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" id="top" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-primary" id="top" type="button">
        <i class="fas fa-search"></i>
        Search
    </button>
</div>
<div class="form-group">
    <button type="button" [disabled]="form.invalid" id="btn-login" class="btn btn-success float-right" (click) = "addJob()"> 
        <i class="fas fa-bullhorn"></i>
        Post a Job
    </button>  
</div>

<h1 class="display-4">Post a Job</h1> 

 <!-- Start of radio buttons -->
 <div style="margin-bottom: 1%;">
    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" class="custom-control-input" id="defaultInline1" value="full-time" name="inlineDefaultRadios" [(ngModel)]="inlineDefaultRadios" mdbInput>
        <label class="custom-control-label" for="defaultInline1">Full Time</label>
    </div>
      
    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" class="custom-control-input" id="defaultInline2" value="part-time" name="inlineDefaultRadios" [(ngModel)]="inlineDefaultRadios" mdbInput>
        <label class="custom-control-label" for="defaultInline2">Part Time</label>
    </div>
      
    <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" class="custom-control-input" id="defaultInline3" value="freelance" name="inlineDefaultRadios" [(ngModel)]="inlineDefaultRadios" mdbInput>
        <label class="custom-control-label" for="defaultInline3">Freelance</label>
    </div>
 </div>
<!-- <p><span>You selected: </span><b>{{ inlineDefaultRadios }}</b></p> -->
<!-- End of radio buttons -->

<div class ="row">
    <div class ="col-6">
        <form #form="ngForm">  
            <div class="form-group">
                <input name="company" #company="ngModel" [(ngModel)]="service.formData.company" class="form-control" placeholder="Company" required>
                <!-- <div *ngIf="company.invalid && company.touched" class="validation-error">This field is required</div>-->
            </div>
            <div class="form-group">
                <input name="url" #company="ngModel" [(ngModel)]="service.formData.url" class="form-control" placeholder="URL" required>
            </div>
            <div class="form-group">
                <input name="position" #company="ngModel" [(ngModel)]="service.formData.position" class="form-control" placeholder="Position" required>
            </div>
            <div class="form-group">
                <input name="location" #company="ngModel" [(ngModel)]="service.formData.location" class="form-control" placeholder="Location" required>
            </div>
            <div class="form-group">
                <input name="description" #company="ngModel" [(ngModel)]="service.formData.description" class="form-control" placeholder="Description" required>
            </div>
        
            <!--<p><span>You selected: </span><b>{{ service.formData.company }}</b></p>-->
            <p>Category</p>
            <mat-form-field>
                <mat-select [(value)]="selected">
                  <mat-option *ngFor="let c of category" [value]="c.value"> 
                    {{ c.viewValue }}
                  </mat-option>
                </mat-select>
            </mat-form-field>   
            <!-- {{ selected }} -->
        </form>       
    </div>    
</div>

<div class="content">
    <ul id="job-list"></ul>
</div>
